*{
    margin: 0;
    overflow: hidden;
}
body {
    background-color: #696969;
    font-family: 'oswald', sans-serif;
    color: whitesmoke;
}
.mem-slider {
    position: relative;
    width: 60vw;
    height: 80vh;
    margin: 0 auto;
    
    /* display: flex; */
    border: 1px solid red;
    /* flex-direction: column;
    align-items: baseline; */
}
.slides {
    width: inherit;
    height: calc(80%); 
    overflow: hidden;
    position: relative;
    border: 1px solid yellowgreen;
    margin-bottom: 0;
}
.slides > div {
    /* position: absolute;
    top: 0; */
    width: inherit;
    height:100%;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 0;
    opacity: 0;
    
    transform: scale(1.36);
    transition: transform ease-in-out .5s, opacity 0s;
}

.slide-1 {
    background-image: url(/cssMemSlider/cssMemSlider/images/girl-dont-know.jpg);
}
.slide-2 {
    background-image: url(/cssMemSlider/cssMemSlider/images/Boromir.jpg);
}
.slide-3 {
    background-image: url(/cssMemSlider/cssMemSlider/images/Yoda.jpg);
}
.slide-4 {
    background-image: url(/cssMemSlider/cssMemSlider/images/boy.png);
}
.bottom-block {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    margin: 15px 0 15px 0;
}
input {
    display: none;
}
.controls > label {
    /* appearance: none; */
    /* line-height: 20px; */
    cursor: pointer;
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #6495ED;
    margin-left: 5px;

    /* display: none; */
}
/* .controls > label {
    cursor: pointer;
    display: inline-block;
    height: 25px;
    width: 25px;
    line-height: 25px;
    margin: 0;
   
} */
/* .controls > label:after {
    border: 2px solid #6495ED;
    content: " ";
    display: block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    left: -4px;
	position: absolute;
	top: -4px;
    
} */

.controls > label > input:checked {
    border: 2px solid whitesmoke;
    background: #696969;
    
  }
.controls > label > input:hover {    
    background: whitesmoke;
    /* transition: transform ease-in-out .5s; */
}
/* .controls > label > input > #btn-1:checked ~ .slide-1, */
/* .bottom-block > .controls > label > input >  */
#btn-1:checked  ~ .slides > .slide-1, 
    #btn-2:checked  ~ .slides > .slide-2, 
    #btn-3:checked  ~ .slides > .slide-3,
    #btn-4:checked  ~ .slides > .slide-4 {  
    opacity: 1;
    z-index: 1;
    transform: scale(1);
    -moz-transform: scale(1);    
    
}
#btn-2:checked  ~ .slides > .slide-2 {
    margin-top: -70%;
}
#btn-3:checked  ~ .slides > .slide-3 {
    margin-top: -160%;
}
#btn-4:checked  ~ .slides > .slide-4 {
    margin-top: -250%;
}
 
/* #btn-1:checked  ~ [class^=discription-1] {
   display: none;
} */