*{
    margin: 0;
    overflow-x: hidden;
}
body {
    background-color: #696969;
    font-family: 'oswald', sans-serif;
    color: whitesmoke;
}
.mem-slider {
    position: relative;
    width: 50vw;
    height: 100vh;
    margin: 0 auto;
}
.slides {
    width: inherit;
    height: calc(70%); 
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
}
.slides > div {
    position: absolute;
    
    width: inherit;
    height:100%;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 0;
    opacity: 0;
    
    transform: scale(1.62);
    transition: transform ease-in-out .5s, opacity 0s;
}

.slide-1 {
    background-image: url(/cssMemSlider/cssMemSlider/images/girl-dont-know.jpg);
}
.slide-2 {
    background-image: url(/cssMemSlider/cssMemSlider/images/Boromir.jpg);
}
.slide-3 {
    background-image: url(/cssMemSlider/cssMemSlider/images/Yoda.jpg);
}
.slide-4 {
    background-image: url(/cssMemSlider/cssMemSlider/images/boy.png);
}
.bottom-block {
    display: flex;
    justify-content: space-between;
    margin: 15px 0 15px 0;
}
input {
    display: none;
}
.controls > label {
    cursor: pointer;
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #6495ED;
    border: 2px solid #6495ED;
    margin-left: 5px;
    line-height: 20px;
}
.controls > label:hover{    
    background: whitesmoke;
    border-color: whitesmoke;
    transition: background ease-in-out .5s;
}
input:checked {
    border: 2px solid #6495ED;
    background: #696969;
}
.bottom-block > .discription > div{
    z-index: 0;
    opacity: 0;
    transform: scale(0.62);
    transition: transform ease-in-out .5s, opacity .5s;
}
#btn-1:checked  ~ .slides > .slide-1, 
#btn-2:checked  ~ .slides > .slide-2, 
#btn-3:checked  ~ .slides > .slide-3,
#btn-4:checked  ~ .slides > .slide-4 {  
    opacity: 1;
    z-index: 1;
    transform: scale(1);
    -moz-transform: scale(1);   
}
#btn-2:checked  ~ .slides > .slide-2 {
    top: 30%;
}
#btn-3:checked  ~ .slides > .slide-3 {
    top: 30%;
}
#btn-4:checked  ~ .slides > .slide-4 {
    top: 30%;
}
#btn-1:checked  ~ .bottom-block > .discription > .discription-1,
#btn-2:checked  ~ .bottom-block > .discription > .discription-2,
#btn-3:checked  ~ .bottom-block > .discription > .discription-3, 
#btn-4:checked  ~ .bottom-block > .discription > .discription-4 {
    opacity: 1;
    z-index: 1;
    transform: scale(1);
    -moz-transform: scale(1);  
}
#btn-1:checked  ~ .bottom-block > .controls > #ctrl-1, 
#btn-2:checked  ~ .bottom-block > .controls > #ctrl-2, 
#btn-3:checked  ~ .bottom-block > .controls > #ctrl-3,
#btn-4:checked  ~ .bottom-block > .controls > #ctrl-4 {
    border: 2px solid #6495ED;
    background: #696969;
}
#btn-1:hover  ~ .bottom-block > .controls > #ctrl-1,
#btn-2:hover  ~ .bottom-block > .controls > #ctrl-2,
#btn-3:hover  ~ .bottom-block > .controls > #ctrl-3,
#btn-4:hover  ~ .bottom-block > .controls > #ctrl-4 {
    background: whitesmoke;
}
@media (max-width: 755px) {
    .bottom-block {
        flex-direction: column-reverse;
        margin: 0;
        min-height: 155px;
    }
    .bottom-block > .controls {
        display: inline-block;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
/* NEW COMMIT */